.cookie-bar {
   position: fixed;
   width: 100%;
   right: 0;
   left: 0;
   height: 30px;
   text-align: center;
   line-height: 30px;
   color: #f0f0f0;
   font-size: 14px;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   transition: .8s;
   animation: slideIn .8s;
   animation-delay: .8s;
   background-color: #5ACEE8;
   bottom: 0;
}
@keyframes slideIn {
 0% {
   transform: translateY(-50px);
 }
 100% {
   transform: translateY(0);
 }
}
.close-cb {
 border: none;
 color: white;
 position: absolute;
 display: inline-block;
 right: 10px;
 top: 0;
 cursor: pointer;
 border: none;
 line-height: 30px;
 height: 30px;
 width: 30px;
 font-size: 16px;
 font-weight: bold;
 margin:0px;
 bottom:0;

}
.checkbox-cb {
 display: none;
 color: #073E4A;
}