.active_tab{
  background-color: #FCFCFC;
}

.submenu:hover{
  background-color: #f0f0f0;
  cursor: pointer;

}

.submenu{
  padding:5px;
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}

