/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    left:0;
    z-index:10000;
}


.trigger_popup_fricc:hover {
  color: grey;
}

/* selected link */
.trigger_popup_fricc {
  margin-top:12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: white;
  cursor: pointer;
}

.popup_box_email{
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    position:fixed;
	top:50%;
	left:50%;
	width:400px;  /* adjust as per your needs */
	height:150px;   /* adjust as per your needs */
	margin-left:-200px;   /* negative half of width above */
	margin-top:-200px; 
}

.popup_box_doc{
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    position:fixed;
    top:50%;
    left:50%;
    width:650px;  /* adjust as per your needs */
    height:60%;   /* adjust as per your needs */
    margin-left:-325px;   /* negative half of width above */
    margin-top:-325px; 
}
.popup_box_doc_small{
  background-color: #fff;
  box-shadow: 10px 10px 40px #B0B0B0;
  position:fixed;
  top:50%;
  left:50%;
  width:300px;  /* adjust as per your needs */
  height:200px;   /* adjust as per your needs */
  margin-left:-150px;   /* negative half of width above */
  margin-top:-100px;
  border-radius: 15px;
}
p.popuptext {
 font-family: 'Poppins', sans-serif;
 letter-spacing: 1px;
 text-align: center;
 margin-top: 10px;
 line-height: 1.2;
 margin-bottom: 0px;
 font-size: 22px;
 font-weight: bolder;
 color: #073E4A;
 border-radius: 28px;
}
div#popup_hire_btn_confirm.btn.btn-primary {
 text-decoration: none !important;
 color: #fff;
 font-weight: 600;
 font-size: 12px;
 border-radius: 28px;
 cursor: pointer;
 text-align: left;
 color: #073E4A;
 background-color: #85D4A6;
 border: 2px solid #85D4A6;
}
div#popup_hire_btn_confirm.btn.btn-primary:hover {
 background-color: #95EDBA;
 border: 2px solid #95EDBA;
 color: #073E4A;
 transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
   -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
   box-shadow: 0px 0px 10px 0px rgb(133,212,173);
}
div#popup_hire_btn_cancel.btn.btn-primary {
 text-decoration: none !important;
 color: #fff;
 font-weight: ;
 font-size: 12px;
 border-radius: 28px;
 cursor: pointer;
 text-align: left;
 border: 2px solid #B0B0B0;
 background-color: #B0B0B0;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#span_email{
	font-weight: bold;
}

.popup_box > h3 {
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-align: left;
    
    line-height: 1.2;
    margin-top: 10px;
     margin-bottom: 10px;
     margin-left :10px;
    color: black;

}

.popupCloseButton:hover {
    background-color: #ccc;
}

.scroll_box_doc{
    height:85%;
    width:100%;
    border:1px solid #ccc;
    overflow:auto;
}

.box_doc{
    padding:10px;
}