.background {
  margin: 0px;
  background-repeat: repeat-y;
  background-size: cover;
}

.bck {
  margin: 0px;
    min-height: 100%;
  background-repeat: repeat;

}


body {
  color: #707070;
  font: 14px Poppins, sans-serif;
  margin: 0px;
  min-height: 100%;

}


.card {
    
    opacity: 0.9;
    width: 550px;
    /*height: 450px;*/
    padding: 20px 30px;
    margin: -30px 23px 50px 300px;
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    border-radius: 8px;
    background: #5DD5F0;
    }

.card-exit {
     opacity: 0.8;
    width: 550px;
    /*height: 450px;*/
    padding: 20px 30px;
    margin: -60px 13px 20px 200px;
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    border-radius: 8px;
    background: #85D4A6;
    display: inline-block;
}

.button {
  background-color: rgba(209, 255, 251, 0.9);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin-left: 137px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 200px;
  font-size: 16px;
}


.card-home  {
  background-color: white;
  margin: 20px 13px 70px  13px;
  padding: 30px 40px ;
  border-top: solid 5px #c3069f;
}

.card-payment-homepage  {
  background-color: white;
  margin: 20px 13px 70px  13px;
  padding: 30px 40px ;
  border-top: solid 20px #c3069f;
}


.card-active {
  background-color: #DAD9DE;
  opacity: .9;
  margin: -40px 13px 70px 13px;
  padding: 30px 40px ;
  border: solid 9px #1243B5;
}

.card-white {
  background-color:white;
  padding: 30px 40px ;
  border-top: solid 5px #1243B5;
  margin-bottom:20px;
}


.card-interests {
  color:black;
  background: white;
  border:1px solid black;
  font-family: 'Montserrat', cursive !important;
  height: 38px !important;
  border-radius: 10px;
  padding: 9px 12px 6px 12px;
  width: 100%;
  font-size: 14px;
  vertical-align: baseline;
}


.button-2 {
  font-family: 'Poppins', cursive !important;
  height: 45;
  width: 45%;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border: 3px solid #073E4A;
    border-radius: 24px;
    letter-spacing: 0.5px;
}

button.button-2:hover {
  background-color: #d680eb;
  color: #f0f0f0;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);

}


.button-5 {
  font-family: 'Poppins', cursive !important;
  font-weight: 600;
  height: 45;
  width: 230px;
  font-size: 20px;
  vertical-align: baseline;
  margin-left: 50px;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border: 3px solid #073E4A;
    border-radius: 24px;
    letter-spacing: 0.5px;
}

button.button-5:hover {
  background-color: #85D4A6;
  color: #073E4A;
  transition: 0.3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    box-shadow: 0px 0px 10px 0px rgb(133,212,173);

}


.button-6 {
  font-family: 'Poppins', cursive !important;
  font-weight: 600;
  height: 45;
  width: 230px;
  font-size: 20px;
  vertical-align: baseline;
  margin-left: 200px;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #073E4A;
    background-color: #85D4A6;
    padding: 12px 20px;
    border-style: none;
    border-radius: 24px;
    letter-spacing: 0.5px;
}

button.button-6:hover {
  background-color: #95EDBA;
  color: #073E4A;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    box-shadow: 0px 0px 10px 0px rgb(133,212,173);

}

.button-7 {
  font-family: 'Poppins', cursive !important;
  font-weight: 600;
  height: 45;
  width: 160px;
  font-size: 16px;
  vertical-align: baseline;
  /*margin-left: 100px;*/
  vertical-align: baseline;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #073E4A;
    background-color: #85D4A6;
    border: 3px solid #85D4A6;
    padding: 10px 18px;
    border-style: none;
    border-radius: 24px;
    letter-spacing: 0.5px;
    margin-right: 50px;
}

button.button-7:hover {
  background-color: #95EDBA;
  color: #073E4A;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    box-shadow: 0px 0px 10px 0px rgb(133,212,173);

}

.button-8 {
  font-family: 'Poppins', cursive !important;
  height: 45;
  width: 45%;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border-radius: 24px;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

button.button-8:hover {
  background-color: #073E4A;
  color: #f0f0f0;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    opacity: 0.3;
}



.button-2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-2:hover span {
  padding-right: 25px;
}

.button-2:hover span:after {
  opacity: 1;
  right: 0;
}


.button-3 {
  color: #f0f0f0;
  background: #B0B0B0;
  font-family: 'Poppins', cursive !important;
  border-radius: 10px;
  padding: 9px 12px 6px 12px;
  width: 15%;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  vertical-align: baseline;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none !important;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border: 3px solid #073E4A;
    border-radius: 24px;
    letter-spacing: 0.5px;
}



.button-4 {
  color:white;
  background: #051436;
  border:1px solid #1243B5;
  font-family: 'Montserrat';
  height: 58px !important;
  border-radius: 5px;
  padding: 9px 12px 6px 12px;
  width: 450px;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 10px;
}


.button-3:visited {
  background-color: red;
}
/* mouse over link */

.button-3:active {
  text-decoration: none !important;
  background-color: ;
  text-decoration: none !important;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

button.button-3:hover {
  background-color: #d680eb;
  color: #f0f0f0;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);

}



.bold{
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.extra-bold {
  font-weight: 700;
}

/* unvisited link */
a:link {
  text-decoration: none !important;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: white;
}



h1 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 30px;
  line-height: 1.2;
  font-weight: 800;
  color: #073E4A;
  letter-spacing: 1.5px;
  text-align: center;
}


h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 300px;
  margin-bottom: 70px;
  font-weight: 400;
  line-height: 20px;
  color: #073E4A;
  margin-top: 20px;
  letter-spacing: 0.5px;
   margin-right: 300px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 20px;
  color: #073E4A;
  margin-top: 10px;
  letter-spacing: 0.5px;
   margin-right: 300px;
}

p.thirty {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 80px;
  color: #095363;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

p.points_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #095363;
  letter-spacing: 0.5px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

h3.bold {
  color: #073e4a;
  font-weight: 800;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 0px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #095363;
  letter-spacing: 0.5px;
}

p.small {
  color: #095363;
  font-size: 10px;
  margin-top: 0px;
  line-height: 14px;
}

p.login {
  margin-top: 20px;
  font-size: 13px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #F0F0F0;
}


h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 24px;
  color: #073E4A;
  margin-top: 10px;
  font-weight: normal;
  letter-spacing: 0.5px;
   margin-right: 300px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  margin: 20px 0px 30px 0px;
  position: left;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  line-height: 24px;
  color: #073E4A;
  margin-top: 10px;
  font-weight: normal;
  letter-spacing: 0.5px;
   margin-right: 300px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #073E4A;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin-left: 300px;
}



em {
  color: rgba(247, 44, 37, 1.00);
  font-size: 155%;
}

a:link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 200px;
  overflow: hidden;
  background-color: #cbd5ef;
  opacity: 1.8;
  background-color: transparent;
}


li {
  font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 800;
    color: #073E4A;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}


li a {
  display: block;
  color: #cbd5ef;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #F6FFFF;
}

li a.active {
  color: #1243B5;
  font-weight: bold;
}

input {
    padding: 5px 5px;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    font-size: 12px;
    margin-top: 10px;
    border: 2px solid white;
    height: 40px;
    color: #B0B0B0;
    background-color: #FCFCFC;
    font-family: Poppins;
    
}

input[type=number] {
    float: left;
    width: 67px;
    border: none;
    height: 40px;
    color: #095363;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-left: 19px;
    cursor: pointer;
    margin-top: 16px;
    background: transparent;
}



html{
  height: 100%;
}


.inc
{
width: 60px;
height:60px;
margin-top:10px;
float: left;
cursor: pointer;
}

.inc_behaviour{
  background: url(../images/plus_blue.svg) no-repeat top left;
}
.dec_behaviour{
  background: url(../images/minus_blue.svg) no-repeat top left;
}

.inc_workplace{
  background: url(../images/plus_yellow.svg) no-repeat top left;
}
.dec_workplace{
  background: url(../images/minus_yellow.svg) no-repeat top left;
}

.inc_people{
  background: url(../images/plus_green.svg) no-repeat top left;
}
.dec_people{
  background: url(../images/minus_green.svg) no-repeat top left;
}

.inc_organisation{
  background: url(../images/plus_violet.svg) no-repeat top left;
}
.dec_organisation{
  background: url(../images/minus_violet.svg) no-repeat top left;
}

.dec
{

width: 60px;
height:60px;
margin-top:10px;
float: left;
cursor: pointer;
}


.step1_input
{
float: left;
};



::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}


  .progress-bar-container {
      margin: 100px auto;
  }
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
     list-style-type: none;
      width: 10%;
      float: left;
      font-size: 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #B0B0B0;
      font-family: Poppins;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border-style: solid;
      border-color: #f0f0f0;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #f0f0f0;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #f0f0f0;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
      background-color: #073E4A;
  }
  .progressbar li.active {
      color: #073E4A;
  }
  .progressbar li.active:before {
      border-color: #073E4A;
      background-color: #073E4A;
  }
  .progressbar li.active + li:after {
      background-color: #073E4A;
  }

.footer {
   
   left: 0;
   bottom: 0;
   height: 100px;
   width: 100%;
   color: #E8E8E8;
   text-align: center;
   opacity: 0.9;
   padding-top: 20px;
   padding-left: 60px;
}


#boxplus {
width: 28px;
height: 29px;
left: 302px;
top: 236px;
text-align: center;
color: #ffffff;
font-style: normal;
font-weight: bold;
font-family: Poppins;
float: left;
background: #0E98B7;
border-radius: 40px 0px 0px 0px;
transform: matrix(1, 0, 0, -1, 0, 0);
}

#boxminus {
width: 28px;
height: 29px;
left: 302px;
top: 236px;
text-align: center;
color: #ffffff;
font-style: normal;
font-weight: bold;
font-family: Poppins;
float: left;

background: rgba(14, 152, 183, 0.51);
border-radius: 40px 0px 0px 0px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  padding: 0 0px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.col3 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  border-radius: 28px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Float four columns side by side */
.right_graph {
  display:inline-block;
  width: 36%;
  /*margin-right:75px;*/
  margin-left:5%;
  
}

.row1 {
  margin: 0 -5px;
  margin-left: 200px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


p.definition {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 13px;
  line-height: 12px;
  color: #5E5E5E;
}

.reflection_card{
  width: 100% !important;
}

/* Style the counter cards */
.family_behaviour {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  background-color: #E1F4F7;
  color: #095363;
  opacity: 0.7;
  border-radius: 15px;
  width: 65%;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-size: 17px;
}

.family_workplace{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  color: #E6860E;
  background-color: #FFF5E2;
  opacity: 0.7;
  border-radius: 15px;
  width: 65%;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-size: 17px;
}

.family_people {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  background-color: #DCF2E3;
  color: #07451C;
  opacity: 0.7;
  border-radius: 15px;
  width: 65%;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-size: 17px;
}


.family_organisation{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  background-color: #F5EFFF;
  color: #4E2F80;
  opacity: 0.7;
  border-radius: 15px;
  width: 65%;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-size: 17px;
}



  select {
    padding: 15px 15px;
    border-radius: 28px;
    text-align: center;
    margin-left: 0px;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 5px 5px;
    width: 180px;
    border: none;
    height: 40px;
    color: #073E4A;
    background-color: #f0f0f0;
    font-family: Poppins;
    cursor: pointer;
    font-weight: bold;
}

img {
  float: left;
  cursor: pointer;

}


label {
  margin: 10px;
  display: block;
}


.vector_hover{
 background-color: white;
font-weight:900;
border-radius: 8px;
padding:  5px;
}

#label_default{
  font-family: 'Poppins', sans-serif;
  display:inline;
  color: #073E4A;
  font: 14px Poppins, sans-serif;
  font-size: 16px;
  font-weight: 800;
  opacity: 0.7;
}

.button_points{
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button:focus {outline:0;}


#div_definition{
  height: 20px;
}

li.sorting{
  color:#000000;
  cursor: pointer;
}

li.list_input{
    text-align: center;
    width: 200px;
    font-size: 14px;
    padding: 8px 5px;
    border-radius: 24px;
    margin-top: 10px;
    letter-spacing: 0.4px;
    border: 3px solid #073E4A;
    height: 40px;
    font-family: Poppins;
    cursor: pointer;
    color: #073E4A;
    margin-bottom: 10px;
}



li.list_hover{
transition: 0.3s;
    background-color: #d680eb;
    opacity: 0.9;
    border: 3px solid #073E4A;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);

}

li.list_placeholder{
    width: 200px;
    padding: 5px 5px;
    border-radius: 24px;
    margin-top: 10px;
    height: 40px !important;
    background-color: #073E4A;
}

.remove { background-color: #CC4D3F; }
.communication { background-color:#def4e5; }
.teamwork { background-color:#81dda0; }
.hierarchy { background-color:#13c44f; }
.flexibility { background-color:#fbf3e1; }
.wellness { background-color:#fbd68f; }
.diversity { background-color:#fbb222; }
.mission { background-color:#e8dbf9; }
.career { background-color:#c7a6fe; }
.compensation { background-color:#9c5fff; }
.leadership { background-color:#c8eef5; }
.development { background-color:#86dcef; }
.social { background-color:#14bfe4; }

h1.h1_step1{
  /*position: fixed;*/
    z-index: 999;
    background-color: ;
}

#div_point_left{
 position: fixed;
    z-index: 999;
    background-color: hsla(120, 100%, 50%, 0);
    font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
  margin-top:  25%;
  margin-left:75%;
}

.nonfade {
  opacity: 1;
  transition: 0.8s opacity;
}

.fade {
    opacity: 0;
    transition: 0.8s opacity;
}

.has-error{
  color: red;

}


/* mouse over link */
#div_forgot_p:hover {
  color: grey;
}

/* selected link */
#div_forgot_p {
  margin-top:12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: white;
  cursor: pointer;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}


.bg-div {
    background: #5ACEE8;
    overflow: hidden;
}

nav {
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

div#point_adjust {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 22px;
    color: #095363;
    margin-top: 0px;
    font-weight: bold;
}

input[type=checkbox], input[type=radio] {
    margin: 0 0;
    margin-top: 1px\9;
    line-height: normal;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.form-check-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-left: 10px;

}

label.form-check-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;

}

u {
  font-family: Poppins;
}

p.fifteen {
  font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 13px;
    line-height: 12px;
    color: #073E4A;
}

p#definition {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #095363;
    letter-spacing: 0.5px;
}

div#button_apply.btn.btn-primary {
    text-decoration: none !important;
    background-color: #14bfe4;
    text-align: center;
    font-weight: 800;
    width: 90px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    padding: 6px 20px;
    background-color: #14BDE3;
    border-radius: 10px;
    letter-spacing: 0.5px;
    outline: none!important;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s;
    font-family: Poppins;
}

i {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-left: 210px;
    font-weight: 800;
}


canvas#userChart.chartjs-render-monitor {
  display: block;
    max-width: 100%;
}



.list_hover.f_communication { background-color: #81dda0; }
.f_communication { background-color: #DCF2E3; }
.list_hover.f_teamwork { background-color: #81dda0; }
.f_teamwork { background-color: #DCF2E3; }
.list_hover.f_structure { background-color: #81dda0;}
.f_structure { background-color: #DCF2E3; }
.list_hover.f_flexibility { background-color: #fbd68f; }
.f_flexibility { background-color: #FFF5E2; }
.list_hover.f_perks { background-color: #fbd68f; }
.f_perks { background-color: #FFF5E2; }
.list_hover.f_diversity { background-color: #fbd68f;}
.f_diversity { background-color: #FFF5E2; }
.list_hover.f_mission { background-color: #c7a6fe; }
.f_mission { background-color: #F5EFFF; }
.list_hover.f_career { background-color: #c7a6fe; }
.f_career { background-color: #F5EFFF; }
.list_hover.f_compensation { background-color: #c7a6fe;}
.f_compensation { background-color: #F5EFFF; }
.list_hover.f_leadership { background-color: #14bfe4;}
.f_leadership { background-color: #E1F4F7; }
.list_hover.f_development { background-color: #14bfe4;}
.f_development { background-color: #E1F4F7; }
.list_hover.f_social { background-color: #14bfe4;}
.f_social { background-color: #E1F4F7; }

.definition{
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
 font-size: 13px;
 line-height: 12px;
 margin-top:5px;
}

.numbers-row{
 min-height: 61px;
}

.col-md-4 {
    position: absolute;
    display: inline-block;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
vertical-align: top;
}
#column_1{
right:0;
}

.col-chart{
  width:66%;
  margin:0 auto;
}

.no_margin_bot{
 margin-bottom: 0px;
}

#div_main_row
{
min-height:600px;
}


@media only screen and (min-width: 767px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .hero-section {
    padding: 150px 0 100px 0;
  }

  .form .hero-section {
    padding: 150px 0 50px 0;
  }

  .form .hero-content {
    padding: 100px 0 100px 0;
    overflow: hidden;
  }

  .form .hero-content h1 {
    font-size: 54px;
  }

  .product .hero-content {
    padding: 150px 0 100px 0;
    text-align: left;
  }

  .hero-content h1 {
    font-size: 48px;
    margin: 0 0 20px 0;
  }

  .hero-content p {
    font-size: 14px;
  }

  .about-content h2 {
    font-size: 38px;
  }

  .software .hero-content h1 {
    font-size: 42px;
  }

  .image-bg .hero-content h1 {
    font-size: 54px;
  }


  .signup .hero-content h1 {
    font-size: 48px;
  }

  .features .features-list {
    padding: 100px 0 0 0;
    text-align: left;
  }

  .features .features-list ul li {
    font-size: 18px;
    display: list-item;
    text-align: left;
  }


  .software .features {
    padding: 100px 0 100px 0;
  }

  .software .features .features-list h1 {
    font-size: 34px;
  }

  .software .features .features-list {
    padding: 30px 0 0 0;
  }


  .software .features .features-list ul li {
    display: list-item;
    font-size: 14px;
    text-align: left;
  }


  .feature-sub {
    padding: 200px 0 200px 0;
  }

  .software .feature-sub .sub-inner h1 {
    font-size: 42px;
  }

  .split-content {
    padding: 120px 350px 50px 10px;
    text-align: left;
  }

  .split-content h1 {
    font-size: 37px;
  }
.second {
padding: 120px 10px 50px 350px;
}

  .pricing {
    padding: 100px 0 100px 0;
  }

  .pricing-content {
    text-align: left;
  }

  .cta-sub .cta-inner h1 {
    font-size: 36px;
  }

  .contact h1 {
    font-size: 19px;
  }

  .contact p {
    font-size: 13px !important;
  }

  .contact a {
    font-family:"Open Sans";
    font-size: 14px;
  }

}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .features .features-list {
    padding: 80px 0 0 0;
  }

  .split-content {
    padding: 100px 100px 50px 50px;
    text-align: left;
  }
}


@media screen and (min-width: 400px) and (max-width: 600px) {

 .subscribe-form .mail {
   padding: 0 30px 0 20px;
   border-radius: 5px 0 0 5px;
 }

 .subscribe-form .submit-button {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
 }

  .col3 {
    width: 100%;
  }

}


@media screen and (max-width: 399px) {

  .cta-sub {
    text-align: center;
  }

  .subscribe-form {
    text-align: center;
  }

 .subscribe-form .mail {
   text-align: center;
   padding: 0 0 0 0;
   border-radius: 5px 0 0 5px;
 }

 .subscribe-form .submit-button {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
   margin-top: 15px;
 }

 .form .sub-form .subscribe-form {
  text-align: left;
 }


  .form .sub-form .subscribe-form .mail {
   text-align: center;
    padding: 0 0 0 0;
    border-radius: 5px 0 0 5px;
  }

  .form .sub-form .subscribe-form .submit-button {
    padding: 0 5px 0 5px;
    border-radius: 0 5px 5px 0;
   margin-top: 15px;
  }

 .back-to-top {
  right: 10px;
}

 }

 @media only screen and (min-width: 991px) and (max-width: 1201px) {

   .app-features .features-left, .app-features .features-right {
    padding: 0 0 0 0;
   }

   .software .features .features-list {
     padding: 0 0 0 0;
   }

 }


.column-m{
  display:inline-block;
  /*float:left;*/
  width: 42%;
  vertical-align:top;
}

.no_margin_left{
  margin-left: 0px;
}

.no_padding_left{
  padding-left: 0px;
}

.button-disabled {
 font-family: 'Poppins', cursive !important;
 border-radius: 10px;
 padding: 9px 12px 6px 12px;
 width: 15%;
 cursor: pointer;
 text-align: center;
 font-size: 20px;
 vertical-align: baseline;
 cursor: pointer;
 transition: all 0.5s;
 text-decoration: none !important;
   padding: 10px;
   text-align: center;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(207,207,207,81);
   -moz-box-shadow: 0px 0px 10px 0px rgba(207,207,207,81);
   box-shadow: 0px 0px 10px 0px rgba(207,207,207,81);
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 700;
   color: #B0B0B0;
   background-color: #f0f0f0;
   padding: 12px 20px;
   border: 3px solid #f0f0f0;
   border-radius: 24px;
   letter-spacing: 0.5px;
}