.background {
  background-image: url(../images/bck.png);
  margin: 0px;
  height: 100%;
}


body {
  color: #707070;
  font: 14px Poppins, sans-serif;
  margin: 0px;
  min-height: 100%;
  background-color: #F5F5F5;
  background-image: url(../images/bck.png);
}


h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: left;
  margin-left: 200px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 22px;
  color: #B0B0B0;
  margin-top: 10px;
  font-weight: bold;
}

h5 {
  font-family: 'Poppins', sans-serif;
  color: #FCFCFC;
  font-size: 17px;
  line-height: 30px;
  margin: 20px 0px 30px 0px;
  position: left;
}

h6 {
  font-family: 'Poppins', sans-serif;
  color: #FCFCFC;
  font-size: 18px;
  line-height: 37px;
  margin-left: 200px;
  text-align: left;
}


h1 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-top: 20px;
  line-height: 1.2;
  font-weight: bold;
  color: #707070;
}


h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 200px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 20px;
  color: #B0B0B0;
  margin-top: 10px;
}


p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #707070;
  text-align: center;
  margin-left: 200px;
}



em {
  color: rgba(247, 44, 37, 1.00);
  font-size: 155%;
}

a:link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.bg-div {
    background: #5ACEE8;
    overflow: hidden;
}

nav {
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

div#point_adjust {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 22px;
    color: #B0B0B0;
    margin-top: 10px;
    font-weight: bold;
}

.button-2 {
  font-family: 'Poppins', cursive !important;
  font-weight: normal;
  height: 45;
  width: 40%;
  font-size: 16px;
  vertical-align: center;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  border: none;
  text-decoration: none !important;
    background-color: #14BDE3;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: center;
    margin-left: 200px;
}



}

.button-2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-2:hover span {
  padding-right: 25px;
}

.button-2:hover span:after {
  opacity: 1;
  right: 0;
}



.button-3 {
  font-family: 'Poppins', cursive !important;
  font-weight: normal;
  height: 45;
  width: 40%;
  font-size: 16px;
  vertical-align: center;
  position: center;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  border: none;
  text-decoration: none !important;
     background-color: #FF5454;
    color: #F0F0F0;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(173,57,57);
    -moz-box-shadow: 0px 0px 10px 0px rgb(173,57,57);
    box-shadow: 0px 0px 10px 0px rgb(173,57,57);
    margin-left: 40px;
   
}

.button-3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-3:hover span {
  padding-right: 25px;
}

.button-3:hover span:after {
  opacity: 1;
  right: 0;
}


.button-4 {
  font-family: 'Poppins', cursive !important;
  font-weight: normal;
  height: 45;
  width: 40%;
  font-size: 14px;
  vertical-align: center;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  border: none;
  text-decoration: none !important;
    background-color: #B0B0B0;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: center;
    margin-left: 200px;
}



}

.button-4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-4:hover span {
  padding-right: 25px;
}

.button-4:hover span:after {
  opacity: 1;
  right: 0;
}
