
.background {
  background-color: #f0f0f0;
  margin: 0px;
  height: 100%;
}


body {
  background: #f0f0f0;
  color: #A9A9A9;
  font: 12px Poppins, sans-serif;
}



#page-wrap {
  /*width: 500px;*/
  margin: 100px auto;
}

.wrapper_candidate{
  padding: 20px;
}



label {
  font: bold 15px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 0px 10px 0 0;
  width: 150px;
  height:35px;
}
input[type=number] {
  float: left;
  width: 45px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 5px;
  text-align: center;
}

#input_email{
  float: left;
}


form div {
  overflow: hidden;
}

.definition{
  float: left;
  font-weight: 500;
 /*width: 100px;*/
}

.center {
  line-height: 35px;
  height: 35px;
  text-align: center;
}

/* If the text has multiple lines, add the following: */
.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.button_spot{
  float: left;
  width: 80px;
}

#span_points{
  font-size: 30px;
}

#label_default{
    font: bold 15px Helvetica, sans-serif;
    display: block;
    float: left;
    text-align: left;
    padding: 0px 10px 0 0;
    height: 35px;
}

#marksChart{
  width:90% ;
  
  /*height:75% ;*/
  margin: 0px auto;
}



.add_button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 45px;
  height: 30px;
  float: left;
  text-align: center;
  background: url(../images/add.png) no-repeat;
}

.agg_button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 45px;
  height: 30px;
  float: left;
  text-align: center;
  background: url(../images/aggregation.png) no-repeat;
}



.dec {
  background-position: 0 -29px;
}


.btn_center{
  width: 30%;
    margin: 0px 100px;
}

/*two columns*/
.column {
  float: left;
  width: 48%;
  background: #fff;
  border-radius: 28px;
  margin-right: 10px;
  margin-top: 10px;
}

/*two columns*/
.column-s {
  float: left;
  width: 33%;

}

.column-m {
  float: left;
  width: 50%;

}

.row{
  padding-bottom: 40px;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#div_filters_vectors{
  background-color: #ffffff;

}

#div_filters_candidates{
  background-color: #fff;
  padding: 15px 15px;
  padding-top: 30px;
  border-radius: 28px;
}

#div_current_candidates{
  padding: 15px 0px;
  font-weight: normal;
  color: #073E4A;
  float: left;
  margin-left: 30px;
  font-size: 12px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

h4 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0px;
  line-height: 1.2;
  margin-bottom: 0px;
  color: black;
  font-size: 15px;
  font-weight: bolder;
  color: #073E4A;

}

h5 {
  font-family: 'Poppins', sans-serif;
  color:black;
  font-size: 17px;
  line-height: 30px;
  margin: 20px 0px 30px 0px;
  position: left;
}

h6 {
  font-family: 'Poppins', sans-serif;
  color:black;
  font-size: 18px;
  line-height: 37px;
  margin-left: 200px;
  text-align: left;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
}

#div_nbr_candidate{
 display:inline-block;
}

#div_show_all{
 float:right
}

/* unvisited link */
a:link {
  text-decoration: none !important;
  background-color: #5ACEE8;
  color: #095363;
  padding: 10px;
  
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

a.btn btn-primary {
  margin-top: 20px;

}

/* visited link */
a:visited {
  text-decoration: none !important;
  background-color: #5ACEE8;
  color: #095363;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: white;
}

div#button_add_column.btn.btn-primary {
  text-decoration: none !important;
  background-color: #14bfe4;
  color: #0F88A3;
  padding: 8px;
  width: 120px;
  height: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
-moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
}

div#button_apply.btn.btn-primary {
    font-family: 'Poppins', cursive !important;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    text-decoration: none !important;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 10px;
    text-transform: uppercase;
    color: #f0f0f0;
    background-color: #073E4A;
    border: 3px solid #073E4A;
    border-radius: 20px;
    letter-spacing: 0.5px;
}

div#button_apply.btn.btn-primary:hover {
    background-color: #d680eb;
    color: #073E4A;
    opacity: 1;
    transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);

}



h1 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 50px;
  color: black;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-left: 200px;
}

h2 {
  font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.2;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bolder;
    color: #073E4A;
}

h3 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.2;
    margin-bottom: 0px;
    color: black;
    font-size: 26px;
    font-weight: bold;
    color: #073E4A;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #073E4A;
  
  margin-top: 10px;
}


body {
  background-color: #F5F5F5;
  background-image: url(../images/bck.png);
  margin: 0px;
  height: 100%;
}


select {
    padding: 5px 5px;
    border-radius: 5px;
    text-align: left;
    width: 100px;
    font-size: 12px;
    margin-top: 10px;
    color: #073E4A;
    background-color: #f0f0f0;
    font-family: Poppins;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
}

b, strong {
  cursor: pointer;
}

div.btn.btn-warning {
  text-decoration: none !important;
  color: #f0f0f0;
  width: 220px;

  border-radius: 24px;
  cursor: pointer;
  margin: auto;
  font-size: 12px;
  padding: 13px 0px;
  font-weight: normal;
  text-align: center;
  background-color: #d680eb;

}

div.btn.btn-warning:hover {

  transition: 0.4s;
  opacity: 0.8;
  
}

div.btn.btn-delete {
  height: 20px;
  cursor: pointer;
  }

.remove { background-color: #CC4D3F; }
.communication { background-color:#def4e5; }
.teamwork { background-color:#81dda0; }
.hierarchy { background-color:#13c44f; }
.flexibility { background-color:#fbf3e1; }
.wellness { background-color:#fbd68f; }
.diversity { background-color:#fbb222; }
.mission { background-color:#e8dbf9; }
.career { background-color:#c7a6fe; }
.compensation { background-color:#9c5fff; }
.leadership { background-color:#c8eef5; }
.development { background-color:#86dcef; }
.social { background-color:#14bfe4; }

div#filter_template {
  display: inline-block;
}

.filter_select {
  background-color: ;
  border: none;
}

tbody#tbody_candidates {
  margin-top: ;
}

div.btn.btn-primary {
  text-decoration: none !important;
  color: #fff;
  font-weight: ;
  font-size: 12px;
  border-radius: 28px;
  cursor: pointer;
  margin: 5px;
  text-align: left;
  border: 2px #304C4B;
  background-color: #073E4A;
}

div.btn.btn-primary:hover {
    opacity: 0.8;
    transition: 0.4s;
}

a.btn.btn-primary {
  text-decoration: none !important;
  color: #;
  padding: 8px;
  width: 100px;
  height: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  border: 2px #304C4B;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
-moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
font-weight: medium;
}

div#div_select_graph_loc_dep {
  margin-top: 10px;

}

div.div_select_gender {
  margin-top: 0px;
  display: inline-block;
}

div.div_select_tenure {
  margin-top: 0px;
  display: inline-block;
}

select.select_tenure {
  width: 150px;
}

select.select_gender {
  width: 100px;
}

select#select_value.filter_select {
  width: 50px;
  border-radius: 20px;
}

select#select_operator.filter_select {
  width: 80px;
  border-radius: 20px;
}

select#select_candidate_role {
  width: 180px;
  margin-left: -290px;
  border-radius: 20px;
  height: 35px;
}

select#select_vector.filter_select {
  width: 140px;
  margin-bottom: 30px;
  border-radius: 20px;
}

select#select_nbr_candidates {
  width: 90px;
  margin-left: -5px;
  margin-top: 5px;
  border-radius: 20px;
}

input#input_search {
  width: 200px;
  float: left;
  margin-left: 20px;
  background-color: #EDEDED;
  cursor: auto;
  border-radius: 20px;
  height: 35px;
  margin-top: 0px;
}





/* Navigation */
nav{
    float: left;
    margin: 0;
    overflow:hidden;

}

nav ul{

    margin: 0;
}

nav ul li{

    list-style-type: none;
    font-size: 14px;
    color: #073e4a;
}

nav > ul > li > a{
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}




.logo-img{
    float: center;
    position: relative;
    cursor: pointer;
}

.bg-div{
   background: #5ACEE8;
   overflow: hidden;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #095363;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #095363;}

ul.topnav li a.active {background-color: #095363;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

div#div_intro {
  padding: 15px 15px;
  padding-top: 30px;
}

select#select_show_candidates {
  float: right;
  font-weight: normal;
  color: #073E4A;
  background-color: #f5f5f5;
  opacity: 0.8;
}


.tabs li { 
  /* Makes a horizontal row */
  float: left; 
  
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
  overflow: hidden;
}
.tabs a { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 8px 30px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: #C7C7C7;
  background-color: #F3F3F3;
  font-weight: 600; 
  font-size: 14px;
  border-radius: 2px;
  margin-left: 0px;
   letter-spacing: 1px;
   opacity: 0.7;
   margin-top: 40px;

}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .active a { 
  /* Colors when tab is active */
  background: #; 
  color: #12A8C9; 
  font-weight: 700;
  border-bottom: 2px solid #12A8C9;
  opacity: 0.6;
}
.tabs li:before, .tabs li:after, 
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after,   .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .active:after,   .tabs .active:before, 
.tabs .active a:after, .tabs .active a:before {
 /* content: "";*/
}
.tabs .active:before, .tabs .active:after {
  background: #5ACEE8; 
  
  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.tabs li:before, .tabs li:after {
  background: #5ACEE8;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;      
}
.tabs li:after { 
  right: -10px;
}
/* Circles */
.tabs li a:after, .tabs li a:before {
  width: 20px; 
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: white;
  
  /* Circles over squares */
  z-index: 2;
}
.tabs .active a:after, .tabs .active a:before {
  background: #5ACEE8;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: #5ACEE8;
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}

ul.tabs.group {
  margin-left: 60px;
  margin-top: 10px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.tabs a:hover{
  background: #f3f3f3; 
  color: #15C3EB; 
  transition: 0.3s;
  border-bottom: 2px solid #15C3EB;
}


.subs {
    float: left;
    margin: 85px 0px 0px -540px;
    overflow: hidden;
    text-align: center; 
    list-style: none;
}


.subtabs li { 
  /* Makes a horizontal row */
  float: left; 
  
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
  overflow: hidden;
}
.subtabs a { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 10px 30px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: #C7C7C7;
  background-color: #F3F3F3;
  font-weight: 600; 
  font-size: 12.5px;
  letter-spacing: 1px;
  opacity: 0.8;
}
.subtabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.subtabs .active a { 
  /* Colors when tab is active */
  background: #F3F3F3; 
  color: #12A8C9; 
  font-weight: 600;
  
  letter-spacing: 1px;
}
.subtabs li:before, .subtabs li:after, 
.subtabs li a:before, .subtabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.subtabs li:last-child:after,   .subtabs li:last-child a:after,
.subtabs li:first-child:before, .subtabs li:first-child a:before,
.subtabs .active:after,   .subtabs .active:before, 
.subtabs .active a:after, .subtabs .active a:before {
 /* content: "";*/
}
.subtabs .active:before, .subtabs .active:after {
  background: #5ACEE8; 
  
  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.subtabs li:before, .subtabs li:after {
  background: #5ACEE8;
  width: 10px;
  height: 10px;
}
.subtabs li:before {
  left: -10px;      
}
.subtabs li:after { 
  right: -10px;
}
/* Circles */
.subtabs li a:after, .subtabs li a:before {
  width: 20px; 
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: white;
  
  /* Circles over squares */
  z-index: 2;
}
.subtabs .active a:after, .subtabs .active a:before {
  background: #5ACEE8;
}
/* First and last tabs have different
   outside color needs */
.subtabs li:first-child.active a:before,
.subtabs li:last-child.active a:after {
  background: #5ACEE8;
}
.subtabs li a:before {
  left: -20px;
}
.subtabs li a:after {
  right: -20px;
}

ul.subtabs.group {
  margin-left: 60px;
  margin-top: 20px;

}

.subtabs a:hover{
  background: #F3F3F3; 
  color: #15C3EB; 
  transition: 0.3s;
}

.subtabs .active a:hover{
  background: #f3f3f3; 
  color: #15C3EB; 
  transition: 0.3s;
  border-bottom: 2px solid #15C3EB;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0.6;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

input {
    padding: 5px 5px;
    border-radius: 28px;
    text-align: left;
    width: 400px;
    font-size: 12px;
    margin-top: 10px;
    color: #095363;
    font-family: Poppins;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    height: 40px;
    background-color: #f1f1f1
}

button {
  text-decoration: none !important;
  color: #f0f0f0;
  font-weight: ;
  font-size: 12px;
  padding: 8px;
  width: 100px;
  height: 38px;
  border-radius: 24px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
text-align: center;
  border: 2px #304C4B;
  background-color: #073E4A;
  border: 2px solid #073E4A;
  font-family: Poppins;
}
 

button:hover {
    background-color: #5acee8;
    color: #f0f0f0;
    transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(90, 206, 232, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(90, 206, 232, 1);
    box-shadow: 0px 0px 10px 0px rgba(90, 206, 232, 1);

}


select#select_loc_dep {
  width: 220px;
  height: 40px;
}

input#input_department {
  width: 180px;
  height: 40px;
  background-color: #073E4A;
  border-radius: 28px;
  color: #fff;
}

input#input_location {
  width: 180px;
  height: 40px;
  background-color: #073E4A;
  border-radius: 28px;
  color: #fff;
}

input#input_role_name {
  width: 180px;
  height: 40px;
  background-color: #073E4A;
  border-radius: 28px;
  color: #fff;
}

.bg_button{
  position:absolute;
  right:0;
  left:auto;
  cursor: pointer;
      margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    width:120px;
}

div#structure_template {
  display: inline-block;
}

div#div_role_link2 {
  font-size: 12px;
  font-family: Poppins;
}

.role_added {
    font-weight: bold;
    color: #073E4A;
    font-size: 14px;
    padding-top: 20px;
    text-align: left;
}

td {
  font-weight: normal;
  font-size: 13px;
}

th {
  font-weight: normal;
  font-size: 11px;
  color: #D6D6D6;
}

img.logo-img {
  left: 50%;
  margin-left: -180px;
}

.popup_box_doc_small{
   background-color: #fff;
   box-shadow: 10px 10px 40px #B0B0B0;
   position:fixed;
   top:50%;
   left:50%;
   width:300px;  /* adjust as per your needs */
   height:200px;   /* adjust as per your needs */
   margin-left:-150px;   /* negative half of width above */
   margin-top:-100px;
   border-radius: 15px;
}

p.popuptext {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  line-height: 1.2;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: bolder;
  color: #073E4A;
  border-radius: 28px;
}

div#popup_hire_btn_confirm.btn.btn-primary {
  text-decoration: none !important;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border-radius: 28px;
  cursor: pointer;
  text-align: left;
  color: #073E4A;
  background-color: #85D4A6;
  border: 2px solid #85D4A6;
}

div#popup_hire_btn_confirm.btn.btn-primary:hover {
  background-color: #95EDBA;
  border: 2px solid #95EDBA;
  color: #073E4A;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    box-shadow: 0px 0px 10px 0px rgb(133,212,173);

}

div#popup_hire_btn_cancel.btn.btn-primary {
  text-decoration: none !important;
  color: #fff;
  font-weight: ;
  font-size: 12px;
  border-radius: 28px;
  cursor: pointer;
  text-align: left;
  border: 2px solid #B0B0B0;
  background-color: #B0B0B0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #5acee8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #5acee8;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #073e4a;
    background: #f0f0f0;
}
#sidebar ul li a:hover {
    color: #;
    background: #fff;

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #073E4A;
    background: #f0f0f0;
    font-weight: 700;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.bg-light {
  background-color: #5acee8;
}

.container {
 background: #f0f0f0;
 text-align: center;
 border-radius: 28px;
 margin-left: 0;
 margin-right: 0;
}

.bg-light {
  border-radius: 28px;
  background-color: #5acee8 !important;
  width: 140px;
  margin-top: -15px;
}


.table .thead-dark th {
  color: #a6a6a6;
  background-color: #f0f0f0;
  border-style: none;

}

.table-bordered {
  border-style: none;
}

.table-bordered td {
  border-style: none;
}

.table td, .table th {
  vertical-align: middle;
}

.btn-info {
  border-color: #5ACEE8;
  background-color: #5ACEE8;
}

.btn-info:hover {
  border-color: #5ACEE8;
  background-color: #5ACEE8;
}




#candlist.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
#candlist.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


#anonym.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #;
  
}

/* Hide the browser's default checkbox */
#anonym.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
#candlist.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#candlist.container input:checked ~ .checkmark {
  background-color: #5acee8;
}


#anonym.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#anonym.container input:checked ~ .checkmark {
  background-color: #5acee8;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#candlist.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#candlist.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#anonym.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#anonym.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.star_empty{
 background: url(../images/star_empty.svg) no-repeat top left;
}
.star_full{
 background: url(../images/star_full.svg) no-repeat top left;
}
.button_star{
 width: 30px;
 height: 30px;
 margin:5;
 cursor: pointer;
 float: left;
}