<div class="box_doc">
<h6 class="no_margin_left"><b>END USER LICENSE AGREEMENT FOR THEPLATYPUS APS SOFTWARE</b></h6>
<p><b>1. DEFINITIONS</b></p>

<ol><li><p>“Platypus” means ThePlatypus ApS, Engvej 104, 2300 København S, CVR 40 29 28 29 and affiliated companies (e.g. subsidiaries).</p>

</li>
<li><p>“EULA” means this End User License Agreement for Platypus’ Software.</p>

</li>
<li><p>”IPR” means intellectual property rights in patents, copyrights, trademarks, design rights or similar.</p>

</li>
<li><p>“License” means the license to use the Software, as further specified in Section 2.</p>

</li>
<li><p>“End-User” means the individual that has access to the Software, including candidates and employees of Licensee.</p>

</li>
<li><p>“Software” means the software provided to the End-User by Platypus.</p>

</li>
</ol><br>
<p><b>2. LICENSE</b></p>

<p>2.1 License: Subject to this EULA, Platypus hereby grants the End-User a non-exclusive, non-transferable, non-sublicensable, revocable and limited right to access and use the Software. The End-User may not otherwise install, use or copy the Software. Any rights not explicitly granted to the End-User shall be considered reserved to Platypus.</p>

<p>2.2 Acceptance: By accessing or otherwise using the Software, the End-User shall be bound by this EULA.</p>

<br>
<p><b>3. IPR</b></p>

<p>3.1 IPR: Platypus retains all ownership and IPR to the Software. To the extent that the Software is changed, developed or adapted as a result of input, feedback or ideas from the End-User, Platypus acquires all IPR to any such changes, developments or adaptions as well as to any such input, feedback or ideas.</p>

<p>3.2 No modifications: The End-User may not copy or modify the Software in any way not authorised by Platypus.</p>

<br>

<p><b>4. SUPPORT</b></p>

<p>4.1 Updates: Platypus may from time to time provide updates, bug fixes and patches to the Software, but Platypus shall be under no obligation to provide specific updates or to provide updates at specific intervals. Platypus shall not be obliged to provide other support services, except if agreed in writing between Platypus and the End-User.</p>

<br>
<p><b>5. WARRANTIES</b></p>

<p>5.1 Right to grant License: Platypus warrants that it owns all rights, titles and interests in and to the Software.</p>

<p>5.2 Malicious code: Platypus warrants that it has used reasonable efforts to ensure that the Software does not contain any malicious code such as worms, viruses, Trojan horses, protect codes, data destruct keys or similar codes intended to access, modify, delete, damage, deactivate or disable the Software. The End-User’s sole remedy for Platypus’ breach of this warranty is that Platypus shall take action to investigate, identify and remove such malicious code from the Software.</p>

<p>5.3 Disclaimer of warranties: The limited warranties in this section are the only warranties granted by Platypus to the End-User. PLATYPUS MAKES NO OTHER WARRANTIES WHATSOEVER, EXPRESS OR IMPLIED, WITH REGARD TO THE SOFTWARE, NEITHER UNDER THIS EULA NOR IN SEPARATE AGREEMENTS. PLATYPUS EXPLICITLY DISCLAIMS ALL WARRANTIES OF SATISFACTORY QUALITY AND FITNESS FOR A PARTICULAR PURPOSE. PLATYPUS DOES NOT WARRANT THAT THE SOFTWARE – IN WHOLE OR IN PART – WILL BE ERROR FREE, OPERATE WITHOUT INTERRUPTION OR MEET THE END-USER’S REQUIREMENTS.</p>

<br>
<p><b>6. TERMINATION</b></p>

<p>6.1 Termination: Platypus may terminate the License and suspend the End-User’s access to the Software with immediate effect (i) if the End-User violates this EULA; (ii) if the End-User behaves in a manner or provides information that Platypus considers inappropriate; or (iii) if Platypus finds that other circumstances, including commercial, necessitate termination.</p>

<p>6.2 Termination effect: Upon termination, Platypus shall suspend the End-User from using the Software.</p>

<br>
<p><b>7. LIABILITY</b></p>

<p>7.1 Indirect losses: Platypus is not liable for any indirect or consequential damages, including damages for lost profits, loss of data, or business interruptions.</p>

<p>7.2 Personal injury: To the maximum extent permitted by applicable law, Platypus shall not be liable for personal injury.</p>

<p>7.3 Liability cap: In any case, total liability of Platypus for damages caused by the Software towards the End-User shall never exceed EUR 10,000.</p>

<br>
<p><b>8. GOVERNING LAW AND DISPUTES</b></p>

<p>8.1 Governing law: This EULA, and all rights and obligations between Platypus and the End-User, shall be governed by Danish law. </p>

<p>8.2 Disputes: Any dispute between Platypus and the End-User shall be handled by the Danish Institute of Arbitration in accordance with its rules. </p>

<br>
</div>