<<<<<<< HEAD
<div>
	<button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-top:8px">
	   <i class="ion-android-menu"></i>
	   <span></span>
	</button>
	<img class="logo-img" src="images/platypus_logo.png" width="167" height="55" ALT="align box" ALIGN=CENTER>
	<a href="http://theplatypus.io" target="_blank">
		<img class="" src="images/piechart.svg" width="55" height="55" ALT="align box" align="center" style="float:right">
	</a>
</div>
=======
>>>>>>> origin/filtering-changes-sept26
