.button-2 {
  font-family: 'Poppins', cursive !important;
  height: 45;
  width: 45%;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border: 3px solid #073E4A;
    border-radius: 24px;
    letter-spacing: 0.5px;
}

button.button-2:hover {
  background-color: #d680eb;
  color: #f0f0f0;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
}
.button-5 {
  font-family: 'Poppins', cursive !important;
  font-weight: 600;
  height: 45;
  width: 230px;
  font-size: 20px;
  vertical-align: baseline;
  margin-left: 50px;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border: 3px solid #073E4A;
    border-radius: 24px;
    letter-spacing: 0.5px;
}

button.button-5:hover {
  background-color: #85D4A6;
  color: #073E4A;
  transition: 0.3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    box-shadow: 0px 0px 10px 0px rgb(133,212,173);
}
.button-6 {
  font-family: 'Poppins', cursive !important;
  font-weight: 600;
  height: 45;
  width: 230px;
  font-size: 20px;
  vertical-align: baseline;
  margin-left: 200px;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none !important;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #073E4A;
    background-color: #85D4A6;
    padding: 12px 20px;
    border-style: none;
    border-radius: 24px;
    letter-spacing: 0.5px;
}
button.button-6:hover {
  background-color: #95EDBA;
  color: #073E4A;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    -moz-box-shadow: 0px 0px 10px 0px rgb(133,212,173);
    box-shadow: 0px 0px 10px 0px rgb(133,212,173);
}
.button-2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-2:hover span {
  padding-right: 25px;
}
.button-2:hover span:after {
  opacity: 1;
  right: 0;
}
.button-3 {
  color: #f0f0f0;
  background: #B0B0B0;
  font-family: 'Poppins', cursive !important;
  border-radius: 10px;
  padding: 9px 12px 6px 12px;
  width: 15%;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  vertical-align: baseline;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none !important;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    -moz-box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    box-shadow: 0px 0px 10px 0px rgba(9,82,99,0.46);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #073E4A;
    padding: 12px 20px;
    border: 3px solid #073E4A;
    border-radius: 24px;
    letter-spacing: 0.5px;
}
.button {
  background-color: rgba(209, 255, 251, 0.9);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin-left: 137px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 200px;
  font-size: 16px;
}
.button-4 {
  color:white;
  background: #051436;
  border:1px solid #1243B5;
  font-family: 'Montserrat';
  height: 58px !important;
  border-radius: 5px;
  padding: 9px 12px 6px 12px;
  width: 450px;
  font-size: 20px;
  vertical-align: baseline;
  margin-top: 10px;
}
.button-3:visited {
  background-color: red;
}
/* mouse over link */
.button-3:active {
  text-decoration: none !important;
  background-color: ;
  text-decoration: none !important;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}
button.button-3:hover {
  background-color: #d680eb;
  color: #f0f0f0;
  transition: 0.3s;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    -moz-box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
    box-shadow: 0px 0px 10px 0px rgba(213, 127, 235, 92);
}
