.card-custom{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  opacity: 0.7;
  border-radius: 15px;
  margin-bottom: 40px;
}
/*old card css*/
.numbers-row{
 min-height: 61px;
}
/*right plus buttons button*/
.inc {
	width: 60px;
	height:60px;
	margin-top:10px;
	float: left;
	cursor: pointer;
}
.inc_behaviour{
  background: url(../../images/plus_blue.svg) no-repeat top left;
}
.dec_behaviour{
  background: url(../../images/minus_blue.svg) no-repeat top left;
}
.inc_workplace{
  background: url(../../images/plus_yellow.svg) no-repeat top left;
}
.dec_workplace{
  background: url(../../images/minus_yellow.svg) no-repeat top left;
}
.inc_people{
  background: url(../../images/plus_green.svg) no-repeat top left;
}
.dec_people{
  background: url(../../images/minus_green.svg) no-repeat top left;
}
.inc_organisation{
  background: url(../../images/plus_violet.svg) no-repeat top left;
}
.dec_organisation{
  background: url(../../images/minus_violet.svg) no-repeat top left;
}
/*left minus buttons*/
.dec {
	width: 60px;
	height:60px;
	margin-top:10px;
	float: left;
	cursor: pointer;
}
.step1_input {
	float: left;
}
/*___________card for points total___________*/
#div_point_left{
  z-index: 999;
/*  background-color: hsla(120, 100%, 50%, 0);*/
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 50px;
  color: #073E4A;
  letter-spacing: 2px;
  font-weight: bold;
}
.counter-background {
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;
}
.card-counter{
  margin: 0 auto;
  width: 95%;
	border-top: 4px solid #707070;
	border-bottom: 4px solid #707070;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 40px;
}
.box-text.beige-backround {
    font-weight: 800;
}
