.background-blue{
  background-color: #5acee8;
}

/* greys */
.lite-grey {
  background-color: #f0f0f0;
}
.gray-1{
  color:#fcfcfc;
}
.grey-2 {
  background-color: #f0f0f0;
}
.grey-3{
  background-color: #d6d6d6;
}
.grey-4{
  background-color: #b0b0b0;
}
.grey-5{
  background-color: #707070;
}


/* below are chart colors */
/* blues */
.dark-blue{
  color:#14bfe4;
}
.medium-blue{
  color:#86dcef;
}
.lite-blue{
  color:#c8eef5;
}
/* oranges */
.dark-orange {
  color:#fbb222;
}
.medium-orange{
  color:#fbd68f;
}
.lite-orange{
  color:#fbf3e1;
}
/* greens */
.dark-green{
  color:#13c44f;
}
.medium-green{
  color:#81dda0;
}
.lite-green{
  color:#def4e5
}
/* purples */
.dark-purple{
  color:#9c5fff;
}
.medium-purple{
  color:#c7a6fe;
}
.lite-purple{
  color:#e8dbf9;
}

.pink-hover:{
  color:#d680eb;
}

/* marci test colors-- to be replaced with Z's colors */
/* _________purples_________________________*/
.rule-purple {
	border-bottom: 1px solid #250065;
}
.purple-lite {
	background-color: #F2EEF9;
}
.purple-medium {
	background-color: #D8C6F8;
}
.purple-dark-text {
	color: #250065;
}
.purple-background {
	background-color: #250065;
}
/* _________greens_________________________*/
.rule-green {
	border-bottom: 1px solid #05400a;
}
.green-lite {
	background-color: #E2F1E7;
}
.green-medium {
	background-color: #ACE3BC;
}
.green-dark {
	background-color: #05400a;
	/*background-color: #002503;*/
}
.green-dark-text {
	color: #05400a;
}
.background-green{
	background-color: #5BAD73;
}
/* _________blues_________________________*/
.rule-blue {
	border-bottom: 1px solid #0089ab;
}
.blue-text-dark {
	color: #0089ab;
}
.blue-background-lite {
	background-color:#E7F3F5;
}
.blue-background{
	background-color: #0089ab;
}
/* _________oranges_________________________*/
.rule-orange {
	border-bottom: 1px solid #E6860E;
}
.peach-bacground-lite {
	background-color: #FBF4E8;
}
.peach-background-dark{
	background-color: #f77c00;
}
.orange-text-dark {
  color: #E6860E;
}
/* beiges*/
.beige{
	color: #707070;
}
.beige-backround {
	background-color: #707070;
}
.rule-beige {
	border-bottom: 1px solid #707070;
}
