.dashboard-left {
  width: 300px;
  border-right: 1px solid grey;
  padding-top: 40px;
  background-color: white;
  /* height: 100%; */
}

.platform-container {
  height: 1000px;
  display:grid;
  grid-template-columns: 1fr 5fr;
  padding:0px 50px 40px 0px ;
  /* height: 100vh; */
  /* overflow: hidden; */
}

/* some here is the css for an h6 tag */
.dashboard-headlines {
  box-shadow: -1px 1px 8px 0px #c8eef5;
  color:white;
  font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom:20px;
	letter-spacing: 1px;
  padding:10px;
  margin-top: 40px;
  text-align: right;
}

.dashboard-subheads{
  box-shadow: 1px 1px 5px 0px rgba(169,169,169,0.8);
  margin-top: 20px;
  font-size: 14px;
  padding:10px;
  color: #b0b0b0;

  /* margin:20px 00px 20px 20px; */
}

