/* below is the container holding the boxes / and rows */
.graphs-container {
  max-width: 1440px;
  min-width: 1000px;
  margin:40px 40px 40px 60px;
}
/* below is 2/3 and 1/3 sized boxes */
.grid-container-1 {
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}
/* below is 1/3 and 2/3 */
.grid-container-2 {
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}
/* below is 3 equal sized boxes */
.grid-container-3{
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}
/* below is 4 qu */
.grid-container-4{
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}
.grid-container-5{
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 4fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}
.grid-container-6{
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}

.grid-container-7{
  margin:2% 1% 0 1% ;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}

/* below is just a sample of a box 100px high FPO */
.boxes {
  height: 300px;
  /* border:solid peachpuff; */
  background-color: white;
  padding-left: 3%;
  border-radius: 12px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
/* below is just a sample of a box 200px high FPO */
.boxes-2 {
  height: 200px;
  border:solid peachpuff;
  background-color: white;
  padding-left: 3%;
  border-radius: 12px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.boxes-3 {
  min-width: 403px;
  height: 800px;;
  background-color: white;
  padding-left: 3%;
  border-radius: 12px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
