/* navbar for my first test site */
.navbar-platypus{
  background: #5ACEE8;
  padding:20px;
  overflow: hidden;
}

.logo-img{
  width:200px;
}

.footer-platypus{
  padding: 20px;
  background: #5ACEE8;
  overflow: hidden;
}
