#div_point_left{
 /*position: fixed;*/
  z-index: 999;
  background-color: hsla(120, 100%, 50%, 0);
  text-align: left;
  font-size: 75px;
  color: #073E4A;
}
/*this makes all of the discriptions be on it's own line. It is applied to the labels*/
.full-width {
	width: 100%;
}
input {
    padding: 5px 5px;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    font-size: 12px;
    margin-top: 10px;
    border: 2px solid white;
    height: 40px;
    color: #B0B0B0;
    background-color: #FCFCFC;
    font-family: Poppins;
}
input[type=number] {
   float: left;
   width: 52px;
   border: none;
   height: 40px;
   color: black;
   font-family: Poppins;
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   padding-left: 13px;
   cursor: pointer;
   margin-top: 16px;
   background: transparent;
}
