.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
}
.progressbar li.active + li:after {
  background-color: green;
}
  .progress-bar-container {
      margin: 100px auto;
  }
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
     list-style-type: none;
      width: 25%;
      float: left;
      font-size: 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #B0B0B0;
      font-family: Poppins;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border-style: solid;
      border-color: #f0f0f0;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #f0f0f0;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: black;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
      background-color: beige;
  }
  .progressbar li.active {
      color: purple;
  }
  .progressbar li.active:before {
      border-color: beige;
      background-color: beige;
  }
  .progressbar li.active + li:after {
      background-color: grey;
  }
ul {
  list-style-type: none;
  margin: 0;
  /*padding-left: 140px;*/
  overflow: hidden;
  background-color: #cbd5ef;
  opacity: 1.8;
  background-color:transparent;
}
li {
 /* float: right;*/
  color: #B7D1E8;
}
li a {
  display: block;
  color: #cbd5ef;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  color: #F6FFFF;
}
li a.active {
  color: #1243B5;
  font-weight: bold;
}
