.fifty-pix-div {
	margin-top:50px;
}

.padding-top{
  padding-top: 100px;
}
.one-seventy-five-pix-div {
	margin-top:175px;
}
.padding-20-pix{
	padding: 20px;
}

.padding-10-pix{
	padding: 10px;
}
.centered {
	margin: 0 auto;
}
.max-width-760 {
	max-width: 621px;
}
.max-width-621 {
  max-width: 621px;
}
.max-width-419 {
   max-width: 419px;
}
