
/*family=Poppins:100, 200, 300, 400,600,700,800,900*/
body{
    font-family: 'Poppins', sans-serif;
    margin:0px;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
h1 {
	font-size: 82px !important;
	font-weight: 200 !important;
}
h2 {
	font-size: 70px !important;
	font-weight: 200 !important;
}
h3 {
	font-size: 55px !important;
	font-weight: 200 !important;
	padding-bottom: 20px;
}
h4 {
	font-size: 40px !important;
	font-weight: 200 !important;
	margin-bottom:20px;
}
h5 {
	font-size: 30px !important;
	line-height: 1.8;
	font-weight: 200 !important;
}
/*.class-h5 {
	font-size:30px;
}*/
h6 {
	font-size: 18px !important;
	line-height: 30px !important;
	font-weight: 200 !important;
	margin-bottom:20px !important;
	letter-spacing: .2px;
}
p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 500 !important;
    letter-spacing: .5px;
}
.semi-bold {
	font-weight: 400;
}
.bold-p {
	font-weight: 800;
}
.bold {
	font-weight: 700!important;
}
/*below is for having a color background to the text*/
.box-text {
  text-align: center;
  font-size: 16px;
  color: white;
  height: 39px;
  /*width: 175px;*/
  padding-top: 8px;
  margin: 25px 0 14px 0px;
  letter-spacing: 2px;
  font-weight: 600;
}
.box-text-black {
  text-align: center;
  font-size: 16px;
  color: black;
  height: 39px;
  padding-top: 8px;
  margin: 25px 0 14px 0px;
  letter-spacing: 2px;
  font-weight: 900;
}
